.Rproj.user
.Rhistory
.RData
.Ruserdata
/submissions
/drafts
/pollinator_dependence_visualisation
/tim_charlie_paper_chat
/virtual-biotic-pollination-flow-trunk
/env_research_conf
/BES_2021
/data/ferman-v1-pest-chemgrids_geotiff
/outputs/old
/outputs/production_animation